<h1>Listing timestamps</h1>

<table>
  <thead>
    <tr>
      <th>Members</th>
      <th>Projects</th>
      <th>Hours</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timestamps.each do |timestamp| %>
      <tr>
        <td><%=Member.find(timestamp.members_id).name %></td>
        <td><%=Project.find(timestamp.projects_id).name %></td>
        <td><%= timestamp.hours %></td>
        <td><%= timestamp.date %></td>
        <td><%= link_to 'Show', timestamp %></td>
        <td><%= link_to 'Edit', edit_timestamp_path(timestamp) %></td>
        <td><%= link_to 'Destroy', timestamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timestamp', new_timestamp_path %>
