<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @timestamp.project %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @timestamp.horas %>
</p>

<%= link_to 'Edit', edit_timestamp_path(@timestamp) %> |
<%= link_to 'Back', timestamps_path %>
