<p id="notice"><%= notice %></p>

<p>
  <strong>Members:</strong>
  <%=Member.find(@timestamp.members_id).name %><>
</p>

<p>
  <strong>Projects:</strong>
  <%=Project.find(@timestamp.projects_id).name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @timestamp.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @timestamp.date %>
</p>

<%= link_to 'Edit', edit_timestamp_path(@timestamp) %> |
<%= link_to 'Back', timestamps_path %>
