<h1>Listing Projects</h1>
 
<table>
 <tr>
    <th>Name</th>
    <th>Desciption</th>
    <th>Time</th>
    <td><%= link_to 'New', new_project_path() %></td>
    
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>  
    <td><%= project.desc %></td>
    <td><%= project.estTime %></td>
    <td><%= link_to 'Show', project_path(project) %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project_path(project),method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br><%= link_to 'Back', projects_path %>