<h1>Projects</h1>

<%= form_for :projects, url: projects_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :Leader %>
    <%= f.select :member_id, Member.all.collect{|u| [u.name, u.id]}  %>
    
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<br><%= link_to 'Back', projects_path %>