<h1>Projects</h1>

<%= form_for :project, url: projects_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :Description %><br>
    <%= f.text_field :desc %><br>
    
    <%= f.label :"Estimated Time(hours)" %><br>
    <%= f.number_field :estTime %><br>
    
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %> 

<br><%= link_to 'Back', projects_path %>