<h1>Manprojects</h1>

<%= form_for :data, url: manprojects_path do |f| %>
  <p>
   <%= f.select :idProject, Project.all.collect{|u| [u.name, u.id]} %>
  
  
  <% @members.each do |member| %>
      <li>
        <%= f.check_box member.id -%>
        <%= f.label member.name %>
      </li>
  <% end %>
   
   
       
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %> 

<br><%= link_to 'Back', manprojects_path %>