<h1>Editing Role</h1>
 
<%= form_for :role, url: role_path(@role), method: :patch do |f| %>
  <% if @role.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this role from being saved:</h2>
    <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', roles_path %>