<h1>Roles</h1>

<%= form_for :role, url: roles_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<br><%= link_to 'Back', roles_path %>