<h1>Listing Members</h1>
 
<table>
 <tr>
    <th>Name</th>
    <th>Leader</th>
    <th>Role</th>
	 <td><%= link_to 'New', new_member_path() %></td>
  </tr>
  

<% @members.each do |member| %>
 
    <td><%= member.name %></td> 
    <td><%= member.isleader %></td> 
    

    <td><%= link_to 'Show', member_path(member) %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member_path(member),method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
	
	  
  </tr>
<% end %>
</table>



<br><%= link_to 'Back', members_path %>